[Unit]
Description=My Script

[Service]
ExecStart=/usr/bin/python3 /home/cloudsigma/script.py

[Install]
WantedBy=multi-user.target

cp myscript.service /etc/systemd/system/
sudo systemctl start myscript
sudo systemctl enable myscript
